* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    min-height: 100vh;
    background-color: paleturquoise;
    padding: 30px 30px;
}

.cursor {
    position: absolute;
    width: 80px;
}